<!DOCTYPE html>
<html>
<head>
  <title>PatientsManagement</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "rails_jquery" %>
  <%= stylesheet_link_tag    "profile" %>
  <%= active_scaffold_includes %>
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag  "main" %>
</head>
<body>
 <%=render :partial=> "layouts/header" %>
<%= yield %>
<!-- //#content -->

 <%=render :partial=> "layouts/footer" %>

<!-- //#footer -->
</body>
</html>
