<!DOCTYPE html>
<html>
<head>
  <title>PatientsManagement</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "rails_jquery" %>
  <%= stylesheet_link_tag    "profile" %>
  <%= active_scaffold_includes %>
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag  "main" %>
  <%= stylesheet_link_tag  "header" %>
</head>
<body>
<%=render :partial=> "layouts/header" %>

<div id="header">
  <h1><a href="#">My <strong>Plus</strong></a></h1>
  <ul>
    <li><a href="/patients">PATIENTS</a></li>
    <li><a href="/floors">ROOMS</a></li>
    <li><a href="javascript:void(0);">APPOINTMENT TIMING</a></li>
    <li><a href="javascript:void(0);">MY PROFILE</a></li>
  </ul>
</div>

<%= yield %>
<!-- //#content -->

 <%=render :partial=> "layouts/footer" %>

<!-- //#footer -->
</body>
</html>
